@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

.pac-container {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pac-container > div:nth-child(n+4){
  display: none;
}

.pac-item {
  height: 5rem;
  padding: 1.5rem 1rem 5rem 1rem;
}

.pac-item > span:nth-child(3) {
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  position: absolute;
  left: 4rem;
}

.pac-item > span:nth-child(3)::before {
  content: '\A';
  white-space: pre;
}

.pac-icon {
  background-image: url("./assets/map-pin-gray.png");
  background-position: center center;
  background-size: contain;
  width: 1.5rem;
  height: 1.75rem;
  background-repeat: no-repeat;
  margin: 1rem 1.25rem 0 0.25rem;
}

.pac-item-query {
  font-size: 1.25rem;
  font-family: inherit;
}
